*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
     border: 2px double red;
     margin: 1.5em;
     font-size: 1.5rem;
     padding: 1.5em;
     outline: 5px solid purple;
     outline-offset: -15px;
}
.circle{
    background: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 3rem auto;
    outline: 2px solid red;
    outline-offset: 2rem;
    border-radius: 50%;

}
