@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
body{
    font-family: "Roboto" sans-serif;
    font-size: 1.5rem;
}
.columns{
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid black;
    column-gap: 3rem;
    
}
.columns p{
    margin-top: 0;

}
.columns  h2{
    margin-top: 0;
    color: white;
    padding: 1rem;
    background: #333;
    break-inside: avoid;
    
}
.columns .quote{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
    
}