@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
  font-size: 2rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* p{
    background-color: lightgrey;
    
}
.opposite{
    display: inline-block;
    margin-top: 100px;
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
    height: 200px;
} */
ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background: #000;
    margin: 0;
}
li{
    display: inline-block;
    margin-inline: 0.5rem;
}
li a{
    color: white;
    text-decoration: none;

}
li a:hover,
li a:focus{
    text-decoration: underline;
}